body {
  text-align: left;
  background: #97BAFF;
  font-size: 10dp;	
}
.section {
  border-radius: 5px;
  padding-left:10px;
  color: yellow;
  background: blue;
  font-size: 11dp;
}
.box {
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
 
  background: white;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.exercise_name{
	border-radius: 5px;
	padding-left:10px;
	color: yellow;
	background: blue;
	font-size: 11dp;
}
.word_given{
	font-size:11dp;
}
.part1{
	margin: 6px;
}
input{
	background: #7BA6FD;
	border: none;
}
input:focus{
	outline: none;
}

.right{
	color: green;
}

.wrong{
	color: red;
}
.normal{
	color: black;
}

.submit {
	background-color: #015084;
	color: white;
	border-radius: 10px;
	position: fixed;
	top: 0px;
	left: 0px;
}

.refresh {
	color: white;
	background-color: #015084;
	border-radius: 10px;
	position: fixed;
	top: 0px;
	right: 0px;
}

.answers_hide {
	display: none;
}