<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huyha.van.englishgrammer">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.huyha.van.englishgrammer.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation">

        </activity>
        <activity
            android:name="com.huyha.van.englishgrammer.activities.drawerActivity.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.huyha.van.englishgrammer.activities.unitActivity.UnitActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"/>
        <activity
            android:name="com.huyha.van.englishgrammer.activities.learningActivity.LearningActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.huyha.van.englishgrammer.activities.unitProgressActivity.ProgressUnitActivity"/>
        <receiver android:name="com.huyha.van.englishgrammer.other.NotificationReceiver">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>